@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
  //weights: 400, 600, 700;
}

$white: white;
$lightPink: rgb(249, 240, 255);
$grayishPurple: rgb(140, 105, 145);
$purple: rgb(174, 38, 234);
$darkPurple: rgb(47, 21, 51);
$darkPurpleShadow: rgba(47, 21, 51, 0.2);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: WorkSans;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightPink;
  background-image: url(../img/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  @media screen and (max-width: 768px) {
    background-image: url(../img/background-pattern-mobile.svg);
  }
}
